In [3]:
import pandas as pd 
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [4]:
whs = pd.read_csv('wh_staff_dataset.csv')
whs.head()

,year,name,gender,status,salary,pay_basis,position_title
0,1997,"Abedin,Huma M.",Female,Employee,27500.0,Per Annum,OFFICE MANAGER
1,1997,"Abrams,Lori E.",Female,Employee,35000.0,Per Annum,"DEPUTY DIRECTOR, WHITE HOUSE GIFTS"
2,1997,"Alcorn,Brian A.",Male,Employee,25000.0,Per Annum,ASSISTANT DIRECTOR FOR ADVANCE
3,1997,"Allen,Jeannetta Pam",Female,Employee,22000.0,Per Annum,STAFF ASSISTANT
4,1997,"Allison,Donna Tate",Female,Employee,27624.0,Per Annum,WHITE HOUSE TELEPHONE OPERATOR

In [5]:
X = whs['gender'].values
y = whs['salary'].values

In [8]:
for i in X:
    if i == 'Male':
        i = 0
    if i =='Female':
        i = 1

TypeError: 'builtin_function_or_method' object is not subscriptable

In [7]:
X

array(['Female', 'Female', 'Male', ..., 'Female', 'Male', 'Male'],
      dtype=object)

In [ ]:
y

In [ ]:
X = X.reshape(-1, 1)
X

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, y, train_size = .8, test_size = .2, random_state = 100)

In [ ]:
print(f"X_train shape [{x_train.shape}")
print(f"y_train shape [{y_train.shape}")
print(f"X_test shape [{x_test.shape}")
print(f"y_test shape [{y_test.shape}")

In [ ]:
plt.scatter(x_train, y_train, color='red')
plt.xlabel('Gender')
plt.ylabel('Salary in USD')
plt.title('Salaries by Gender')
plt.show()

In [ ]:
import seaborn as sns

In [ ]:
sns.set()
plt.figure(figsize = (10, 6), dpi = 300)
sns.regplot(x = 'year', y = 'salary', data = whs)